@import "tailwindcss";

@theme {
  --breakpoint-mobile-small: 375px;
  --breakpoint-mobile: 480px;
  --breakpoint-mobile-landscape: 640px;
  --breakpoint-tablet-portrait: 768px;
  --breakpoint-tablet-landscape: 1024px;
  --breakpoint-laptop: 1280px;
}

@theme {
  --color-primary: #041525;
  --color-secondary: #c77f3e;
  --color-accent: #412000;
  --color-navy-soft: #1a2a3a;
}

@font-face {
  font-family: "YekanBakh-Light";
  src: url("../public/fonts/iranyekanweblightfanum.woff") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh-SemiBold";
  src: url("../public/fonts/YekanBakhFaNum-SemiBold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh-Bold";
  src: url("../public/fonts/YekanBakhFaNum-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh-ExtraBold";
  src: url("../public/fonts/YekanBakhFaNum-ExtraBold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: "YekanBakh-SemiBold", sans-serif;
    scroll-behavior: smooth;
  }
}

@keyframes timelineShow {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-timeline {
  animation: timelineShow 0.7s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  opacity: 0;
}
